body{
    background-image: url(https://background-tiles.com/overview/blue/patterns/large/1046.png)
}


#crystalHeader{
    background: orangered;
    float: left;
    padding: 10px;   
    color: #ffffff;
}

.gameInfo{
    display: block;
    float: left;
    background: bisque;
    padding: 10px;
    overflow: auto;
    width: 28%;
    padding-bottom: 5%;
    color: green;
    font-weight: bold;
    
}
h1{

}

p {
    color: black;
    font-weight: bold;
}

.winlossBox{
    background: lightskyblue;
    display: block;
    clear: both;
}

.randomTargetnumber{
    background: rgb(87, 150, 87);
}
