body{
    background-image: url(https://background-tiles.com/overview/blue/patterns/large/1046.png)
}


h2 {
    color: #ffffff;
}

#crystalHeader{
    background: orangered;
    float: left;
    padding: 10px;
}

.gameInfo{
    display: block;
    float: left;
    background: bisque;
    padding: 10px;
    overflow: auto;
    width: 28%;
    padding-bottom: 5%;
    
}

p {
    color: green;
    font-weight: bold;
}